<h1>Your Projects:</h1>
<ul class="projects">
    <% @projects.each_pair do |project, project_data| %>
    <% project_server = @account.get_server_for_project(project, project_data) %>
    <li><%= @account.user %> (<%= @projects.length %>): </li>
    <ul class="user-projects">
      <li><a href="/<%= project %>"><%= project %></a> <span class="updated">(last updated: <%= project_data['updated_at'] || project_data %>)</span></li>
    </ul>
  <% end %>
</ul>
