<h1>Server Status: <%= @server_state %></h1>
<h3>Your Projects:</h3>
<ul class="projects">
  <% @projects.each_pair do |user, user_projects| %>
    <li><%= user %> (<%= user_projects.length %>): </li>
    <ul class="user-projects">
      <% user_projects.each_pair do |project, time| %>
        <li><a href="/<%= project %>"><%= project %></a> <span class="updated">(last updated: <%= time %>)</span></li>
      <% end %>
    </ul>
  <% end %>
</ul>