<html>
  <head>
    <title>Deferred Server</title>
  </head>
  <body>
  <h1>Server Status: <%= @server_state %></h1>
  <h3>projects:</h3>
  <ul class="projects">
    <% @projects.each_pair do |user, user_projects| %>
      <li><%= user %> (<%= user_projects.length %>): </li>
      <ul class="user-projects">
        <% user_projects.each_pair do |project, time| %>
          <li><a href="/<%= project %>"><%= project %> (last updated: <%= time %>)</a></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
  </body>
</html>