<html>
  <head>
    <title>Deferred Server: <%= @project_key %> : <%= @commit %></title>
  </head>
  <body>
  <h1>Project: <a href="/<%= project_key %>"><%= @project_key %></a></h1>
  <h3>commit: <%= @commit %></h3>
  <% if @commit_hash %>
    <h4>commit message: <%= @commit_hash['commits'][0]['message'] %></h4>
  <% end %>

<% if @cmd_run %>
  command run: <code><%= @cmd_run %></code><br/>
<% end %>

<% if @exit_status %>
  command exit status: <%= @exit_status %><br/>
<% end %>

<pre>
<%= @results %>
</pre>

</body>
</html>