<html>
  <head>
    <title>Deferred Server: <%= @project_key %></title>
  </head>
  <body>
  <h1>Project: <%= @project_key %></h1>
  <h3>commits:</h3>
  <ul>
    <% @commits.sort_by{|commit, hash| hash.is_a?(String) || hash['push']['commits'][0]['timestamp'] }.each_pair do |commit,commit_hash| %>
      <li>
        <a href="/<%= @project_key %>/commits/<%= commit %>"><%= commit %></a>
      </li>
    <% end %>
  </ul>
  </body>
</html>