<html>
  <head>
    <title>Deferred Server: <%= @project_key %> : <%= @commit %></title>
  </head>
  <body>
  <h1>Project: <%= @project_key %></h1>
  <h3>commit: <%= @commit %></h3>

<pre>
<%= @results %>
</pre>

</body>
</html>