<h1>Servers</h1>
<h3>Default Server: <%= @account.default_server.tags['Name'] %></h3>

<h3>Your Servers:</h3>
<ul class="servers">
  <% @account.servers.each_pair do |key, value| %>
    <li>
      <%= key %> : (<%= value.inspect %>)<br/>
      <span class="server-info">current status: <%= find_server('instance-id' => key).state %></span>
      <form class="server_actions" action="/server_action" method="post">
        <input type="hidden" name="id" value="<%= key %>" />
        <input type="submit" name="submit" value="Start" class="button" />
      </form>
      <form class="server_actions" action="/server_action" method="post">
        <input type="hidden" name="id" value="<%= key %>" />
        <input type="submit" name="submit" value="Stop" class="button" />
      </form>
      <form class="server_actions" action="/server_action" method="post">
        <input type="hidden" name="id" value="<%= key %>" />
        <input type="submit" name="submit" value="Destroy" class="button" />
      </form>
    </li>
  <% end %>
</ul>


<form class="add_server" action="/add_server" method="post">
  <label>Add Server</label>
  <input type="text" name="server_name" placeholder="Server Name" /><br/>
  <input type="text" name="server_base_ami" placeholder="<%= ServerCommands::DEFAULT_AMI %>" /><br/>
  <label>Make Default <input type="checkbox" name="make_default" value="true" /></label><br/>
  <input type="submit" name="submit" value="Add Server" class="button" />
</form>

<hr/>
<h3>Your Projects Current Servers:</h3>
<ul class="servers-for-projects">
  <% @projects.each_pair do |user, user_projects| %>
    <li><%= user %> (<%= user_projects.length %>): </li>
    <ul class="user-projects">
      <% user_projects.each_pair do |project, time| %>
        <li>
          <a href="/<%= project %>"><%= project %></a>
          <span class="updated">(server: <%= @server.image_id %>)</span>
          <br/>
          <span class="server-info">current status: <%= @server.state %></span>
	  <% if @server.state=='stopped' %>
	   <form class="server_actions" action="/server_action" method="post">
             <input type="hidden" name="id" value="<%= @server.id %>" />
             <input type="submit" name="submit" value="Start" class="button" />
           </form>
          <% else %>
	   <form class="server_actions" action="/server_action" method="post">
             <input type="hidden" name="id" value="<%= @server.id %>" />
             <input type="submit" name="submit" value="Stop" class="button" />
           </form>
          <% end %>
	  <form class="server_actions" action="/server_action" method="post">
            <input type="hidden" name="id" value="<%= @server.id %>" />
            <select name="new_server">
              <% @account.servers.each_pair do |key,val| %>
	        <option value="<%= key %>"><%= key %></option>
              <% end %>
	    </select>
	    <input type="submit" name="submit" value="change server" class="button" />
          </form>
        </li>
      <% end %>
    </ul>
  <% end %>
</ul>